@media (prefers-reduced-motion: no-preference) {
  a:focus {
    transition: outline-offset 0.25s ease;
    outline-offset: var(--outline-thickness);
    outline: var(--outline);
  }
}

a {
  color: var(--accent-color-primary);
  text-decoration: none;
  border-bottom: 1px solid var(--accent-color-primary);
  transition: all 500ms ease-in-out;

  &:hover {
    color: var(--accent-color-secondary);
    border-bottom: 1px solid var(--accent-color-secondary);
  }

  &:focus {
    outline-offset: var(--outline-thickness);
    outline: var(--outline);
  }
}

del {
  background: var(--diff-del-color);
}

ins {
  background: var(--diff-ins-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-headers);
  margin: 0 0 var(--space-cs) var(--header-font-offset-left);
  line-height: 1.15;
  letter-spacing: var(--header-letter-spacing);
}

h1 {
  font-size: var(--font-h1);
  margin-top: var(--space-cs);
}

p,
li,
label {
  font-family: var(--font-family-serif);
  margin: 0 0 calc(var(--space-cs) * 2) 0;
  color: var(--primary-text-color);
  font-size: var(--font-base);
  line-height: calc(var(--font-base) * var(--font-lhr));
}

/* Don't like this; special case. TODO extract */
p code,
li code {
  background-color: var(--code-background);
  color: var(--code-color);
  font-size: 85%;
}

blockquote {
  border-left: var(--outline-thickness) solid var(--accent-color-primary);
  padding-left: var(--space-cs);
  font-style: oblique;
}

table {
  width: 100%;
  border-spacing: 0;
  margin-bottom: calc(var(--space-cs) * 2);
}

thead {
  background-color: var(--section-color);
}

tr,
th,
td {
  padding: var(--space-cs);
  border: 1px solid #eee;
}

tbody tr:nth-child(even) {
  background-color: var(--structs-bg);
}

img {
  filter: var(--image-filter, initial);
  border-radius: var(--space-cs);
  background: radial-gradient(rgb(101, 112, 100), rgb(166 175 170)) no-repeat;
}

figure {
  margin: 1em 0;
  transition: background 0.3s;
  cursor: pointer;
  position: relative;
}

figure img {
  max-width: initial;
  width: 80vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -40vw;
  margin-right: -40vw;
  height: auto;
}

figcaption {
  color: var(--secondary-text-color);
  font-size: var(--figcaption);
  line-height: var(--font-lhr);
  margin-top: 0.5em;
}

figcaption .author {
  display: inline-block;
  color: var(--secondary-text-color);
  font-family: var(--font-family-serif);
  font-size: var(--figcaption-author);
}

[hidden] {
  display: none !important;
}

@media (max-width: 1024px) {
  img {
    border-radius: revert;
  }

  figure img {
    max-width: initial;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}
