body,
h1,
h2 {
  margin: 0;
}

body {
  font-family: var(--font-family-sans-serif);
  color: var(--primary-text-color);
  line-height: var(--font-lhr);
  background-repeat: repeat;
  background-image: url('data:image/avif;base64,AAAAIGZ0eXBhdmlmAAAAAGF2aWZtaWYxbWlhZk1BMUIAAADybWV0YQAAAAAAAAAoaGRscgAAAAAAAAAAcGljdAAAAAAAAAAAAAAAAGxpYmF2aWYAAAAADnBpdG0AAAAAAAEAAAAeaWxvYwAAAABEAAABAAEAAAABAAABGgAABdQAAAAoaWluZgAAAAAAAQAAABppbmZlAgAAAAABAABhdjAxQ29sb3IAAAAAamlwcnAAAABLaXBjbwAAABRpc3BlAAAAAAAAAfQAAAH0AAAAEHBpeGkAAAAAAwgICAAAAAxhdjFDgQEMAAAAABNjb2xybmNseAACAAIABoAAAAAXaXBtYQAAAAAAAAABAAEEAQKDBAAABdxtZGF0EgAKChhiPn8+SBAQNCAywwsSAAAAFhiLLGcHVFAs7N3Xcki9CXwmoni303KMREU06PpX71T4zp041gyXHtqJpceiDc36n/ixtcKbGgcX9lg22yWGGQ3PYXi6yF/3ThrwXfEWMIfTcFLvBnO+mnD81KbOEBB+D2HVv+C8j3Nk/QCYdvEy3+l9rBiOT4O7M3NTXCcX48uTVFxxQMa2awTP2yRQXNLhQaCHCcbxSwZNnLhJF76lFD6zvcPcjqgCoCLDgyGH0hz+crAaVwouSOiB65DF16Tggi+mfv8Ra8GIAE6XinnaTshCxsMiXofrDrjAd5ZflNOLKk94QTctn6qyncWjwyw2Y2az+FJ88gVuk2Iaslt1BbXDxbfYBlWAeOuvOMLxQLeYCqK6+upV9t0CEguKJy1k+8Og7Z/h9AQXdzez/60k3FS0HicINLX9OIMUCivkuFKAL53MqNg/rmEyZzQx00cEoDHSh98X+6A5DekWcYfpupPx7g6TZKrPGa+ws1VrLll/IglkqDw9sVqrGeSdN/raNNz4FvQYUBiFbxZh4fS/6A1mGKJmz/wu6BKfxbNiaqUNQoAg/RBcRI9nXSHYiKLNgu3x5QepLEAEe0ijdPeisEaqhDH/9zQEnH3tGGY3bTGkm+ktPEVCfXByf5IUz20wt1nOJQEY7PDlz0qEj9sfOts11inX/3egA1nhhWV0DlWeWyoOJiwNgTXwlae3rZ5dpl8/9SZ5en3QINovAAi4EtxxnybRGmSXNEVvQjkxBBtBevzvYZ6e1tbypP8R2WkCxx+o86ZMkd8d9j2r4NdUiyupO+V0VTNsQgijXW2SPdGRdTTvDVmoDL1nI9dodNUq4QX7bkhUwJMB3uADxBAsqFnwcvTBFZuyi/3n0PtOiW6N42azAhlddJaMuhys5MF19r2jaJuzoE3llsk97QucOo75I4CrSOm5czgtfV8jwnlts9xvUEQFbOFiE1mxtLvPyt5oKpoOB9HXswgvjyu8sLgqpFpvDlJ2xwXu/NjRcqaN8SrpvyNyiZP/lEAEmlvCb0WnOgP5o31Uu8gbSoNcSdoE0/4WHAWOYv95csNql1aby+LnJYcN5bOCHE3aap2WIKNLCFFHXwy7ulyyALh2u5mE5bOg6/7binqqdIy8UKkncvwV3r+7I0H+w4Ewg2k5+YOyR2jfwHGWqnjIDAuhiUaoMuZ8RoX0I4MhsQCieSxdsoMgS4tETgkGxerb9nP6lNWHUnBgBRIUIL7rxNUbqPrgSUw8wTSFIIUWa9U7BUDYpyVbOJ2D44qp9qpXuXaC+g6NdklDvhyFJr8IQ11La1dGEPGKXw1XeA6qv9QPzdKOvSPsapdDiRGrovSumB35eJeadoyVx0REUV2+xyvHpvB+yqMdH63ZM2+MJ7YdgOHO1TAOPFvLB8k4PMiZO9jirCKrTD3XrmGnMRYpvPXWkMk2ZRehcmY6gjwYr7On4c5xAxbwF29T4RnunzzOXrrMlzWfCKbCYaHmZbNxDyQ+NK0cICtvwPvf3633qS9udi7XbC/0kDBgHyCZ1mu59wNm8HSTobKoQvqchmlcq2E7igwan41BO79fuuBBPkaaPXEff4CaJwtHTx1BXzXkXwlbbX3LmpGUIdHNrrutphy4QeX+5Kaok94ZEvWCHqsfr7LvjY5DKVsElPC78Dl9tarEsemk6UJFHJceR2hIQ7j1fkdNzagvwmdzWjWPhMJW5sSEtrlRpMha6obJDg1rcQaHpSIu/CWiVl8Ue2Jom08dJRzj2j7dpzDJy7GTqdZ/uTBCoYg0zwwR+/W/tLyCsrBY+bW3YYzS9K/DGSFOCfOSOXEE8fQ/+DfpumeZ3914+hIo+WQhN+jBnOWdh6Lojc9bCe+PfQj2qHE7HNA8nmsaEkdFfx+PMmt8ladvM6xOomatvlr4iefJH+SeGMOV3FF6jbdPI4ZcAVZzNrEALA/8NaiEqIPuvBh2Z65QlB1nQA==');
  mix-blend-mode: multiply;
}

blog-pwa {
  display: block;
  min-height: 100vh;
}

#pageHeader,
#pageFooter,
#pageNav,
#extNav {
  background-color: var(--structs-bg);
}

#pageHeader,
#pageFooter {
  display: grid;
}

#pageHeader {
  border-bottom: var(--border);
  align-items: center;
  justify-content: space-between;
  padding: var(--space-cs) calc(var(--space-cs) * 3);
  grid-template-columns: auto auto auto;
  position: sticky;
  top: 0;
  z-index: 1;
}

#pageFooter {
  min-height: 20vh;
  border-top: var(--border);
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  grid-template-rows: 1fr auto;
  gap: var(--space-cs);
  justify-content: center;
  align-items: start;
  padding: calc(var(--space-cs) * 5) calc(var(--space-cs) * 3);

  h2 {
    font-variant-caps: small-caps;
    font-family: var(--font-family-headers);
  }

  p {
    line-height: initial;
    font-size: initial;
    font-family: var(--font-family-sans-serif);
    margin: var(--base-unit) 0;
  }

  svg {
    width: 20px;
    vertical-align: text-bottom;
  }
}

#mainHeader {
  font-weight: 400;
  font-family: var(--font-family-headers);
  font-size: var(--header-font-size);

  & > a {
    color: var(--primary-text-color);
    border-bottom: initial;
  }

  & > a > span {
    font-size: 60%;
  }
}

#pageNav {
  margin: var(--space-cs);
}

#pageNav > a,
#extNav > a {
  text-transform: uppercase;
  margin: var(--space-nav);
  display: inline-block;
  font-weight: 600;
  letter-spacing: 0.02rem;
}

#extNav {
  & > a {
    border-bottom: none;
  }

  svg {
    width: 24px;
    height: 24px;
    padding: 0.25rem;
    display: block;
  }
}

@media (max-width: 768px) {
  #pageHeader {
    position: relative;
    text-align: center;
    justify-content: center;
  }

  #pageHeader,
  #pagefooter {
    grid-template-columns: auto;
    padding: var(--space-cs) 0 0 0;
  }
}

/** Because it just annoys me the link breaks */
@media (max-width: 475px) {
  #pageNav {
    margin: calc(var(--space-cs) / 2) auto;
    width: 80%;
  }
}

@media (min-width: 3000px) {
  body {
    zoom: 1.5;
  }
}

/** Hopefully you don't have to fly away **/
#canaryInCoalMine {
  width: 48px !important;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 1));
}

@font-face {
  font-display: swap;
  font-family: 'Libre Franklin';
  src: url('https://storage.googleapis.com/jdr-public-imgs/fonts/libre-franklin-v14-latin-regular.woff2')
    format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Literata';
  src: url('https://storage.googleapis.com/jdr-public-imgs/fonts/literata-v35-latin-regular.woff2')
    format('woff2');
}
