body {
  background-repeat: repeat;
  background-image: url('data:image/avif;base64,AAAAIGZ0eXBhdmlmAAAAAGF2aWZtaWYxbWlhZk1BMUIAAADybWV0YQAAAAAAAAAoaGRscgAAAAAAAAAAcGljdAAAAAAAAAAAAAAAAGxpYmF2aWYAAAAADnBpdG0AAAAAAAEAAAAeaWxvYwAAAABEAAABAAEAAAABAAABGgAABdQAAAAoaWluZgAAAAAAAQAAABppbmZlAgAAAAABAABhdjAxQ29sb3IAAAAAamlwcnAAAABLaXBjbwAAABRpc3BlAAAAAAAAAfQAAAH0AAAAEHBpeGkAAAAAAwgICAAAAAxhdjFDgQEMAAAAABNjb2xybmNseAACAAIABoAAAAAXaXBtYQAAAAAAAAABAAEEAQKDBAAABdxtZGF0EgAKChhiPn8+SBAQNCAywwsSAAAAFhiLLGcHVFAs7N3Xcki9CXwmoni303KMREU06PpX71T4zp041gyXHtqJpceiDc36n/ixtcKbGgcX9lg22yWGGQ3PYXi6yF/3ThrwXfEWMIfTcFLvBnO+mnD81KbOEBB+D2HVv+C8j3Nk/QCYdvEy3+l9rBiOT4O7M3NTXCcX48uTVFxxQMa2awTP2yRQXNLhQaCHCcbxSwZNnLhJF76lFD6zvcPcjqgCoCLDgyGH0hz+crAaVwouSOiB65DF16Tggi+mfv8Ra8GIAE6XinnaTshCxsMiXofrDrjAd5ZflNOLKk94QTctn6qyncWjwyw2Y2az+FJ88gVuk2Iaslt1BbXDxbfYBlWAeOuvOMLxQLeYCqK6+upV9t0CEguKJy1k+8Og7Z/h9AQXdzez/60k3FS0HicINLX9OIMUCivkuFKAL53MqNg/rmEyZzQx00cEoDHSh98X+6A5DekWcYfpupPx7g6TZKrPGa+ws1VrLll/IglkqDw9sVqrGeSdN/raNNz4FvQYUBiFbxZh4fS/6A1mGKJmz/wu6BKfxbNiaqUNQoAg/RBcRI9nXSHYiKLNgu3x5QepLEAEe0ijdPeisEaqhDH/9zQEnH3tGGY3bTGkm+ktPEVCfXByf5IUz20wt1nOJQEY7PDlz0qEj9sfOts11inX/3egA1nhhWV0DlWeWyoOJiwNgTXwlae3rZ5dpl8/9SZ5en3QINovAAi4EtxxnybRGmSXNEVvQjkxBBtBevzvYZ6e1tbypP8R2WkCxx+o86ZMkd8d9j2r4NdUiyupO+V0VTNsQgijXW2SPdGRdTTvDVmoDL1nI9dodNUq4QX7bkhUwJMB3uADxBAsqFnwcvTBFZuyi/3n0PtOiW6N42azAhlddJaMuhys5MF19r2jaJuzoE3llsk97QucOo75I4CrSOm5czgtfV8jwnlts9xvUEQFbOFiE1mxtLvPyt5oKpoOB9HXswgvjyu8sLgqpFpvDlJ2xwXu/NjRcqaN8SrpvyNyiZP/lEAEmlvCb0WnOgP5o31Uu8gbSoNcSdoE0/4WHAWOYv95csNql1aby+LnJYcN5bOCHE3aap2WIKNLCFFHXwy7ulyyALh2u5mE5bOg6/7binqqdIy8UKkncvwV3r+7I0H+w4Ewg2k5+YOyR2jfwHGWqnjIDAuhiUaoMuZ8RoX0I4MhsQCieSxdsoMgS4tETgkGxerb9nP6lNWHUnBgBRIUIL7rxNUbqPrgSUw8wTSFIIUWa9U7BUDYpyVbOJ2D44qp9qpXuXaC+g6NdklDvhyFJr8IQ11La1dGEPGKXw1XeA6qv9QPzdKOvSPsapdDiRGrovSumB35eJeadoyVx0REUV2+xyvHpvB+yqMdH63ZM2+MJ7YdgOHO1TAOPFvLB8k4PMiZO9jirCKrTD3XrmGnMRYpvPXWkMk2ZRehcmY6gjwYr7On4c5xAxbwF29T4RnunzzOXrrMlzWfCKbCYaHmZbNxDyQ+NK0cICtvwPvf3633qS9udi7XbC/0kDBgHyCZ1mu59wNm8HSTobKoQvqchmlcq2E7igwan41BO79fuuBBPkaaPXEff4CaJwtHTx1BXzXkXwlbbX3LmpGUIdHNrrutphy4QeX+5Kaok94ZEvWCHqsfr7LvjY5DKVsElPC78Dl9tarEsemk6UJFHJceR2hIQ7j1fkdNzagvwmdzWjWPhMJW5sSEtrlRpMha6obJDg1rcQaHpSIu/CWiVl8Ue2Jom08dJRzj2j7dpzDJy7GTqdZ/uTBCoYg0zwwR+/W/tLyCsrBY+bW3YYzS9K/DGSFOCfOSOXEE8fQ/+DfpumeZ3914+hIo+WQhN+jBnOWdh6Lojc9bCe+PfQj2qHE7HNA8nmsaEkdFfx+PMmt8ladvM6xOomatvlr4iefJH+SeGMOV3FF6jbdPI4ZcAVZzNrEALA/8NaiEqIPuvBh2Z65QlB1nQA==');
  mix-blend-mode: multiply;
}

#main {
  header h1,
  header h2 {
    text-align: center;
    line-height: 1.15;
  }

  section,
  header {
    max-width: var(--page-last);
    padding: 0 calc(var(--space-cs) * 2);
    margin: auto;
  }

  header {
    margin-bottom: 1.5rem;
  }

  #subHeader {
    h1 {
      font-size: calc(var(--font-h1) / 2.2);
      font-family: var(--font-family-sans-serif);

      letter-spacing: 0.01rem;
      text-transform: uppercase;
      margin: calc(var(--space-cs) * 3);
    }
    h2 {
      font-size: var(--font-h1);
      font-family: var(--font-family-headers);
      margin: calc(var(--space-cs) * 3);
      letter-spacing: var(--header-letter-spacing);
    }
  }

  hr {
    width: 25vw;
    border: 0;
    height: 0;
    border-top: var(--border);
  }

  #recent {
    hr {
      margin: 1rem auto 1rem auto;
    }
    a p {
      font-size: 1rem;
      margin: 0;
      padding: 0;
      line-height: 1rem;
    }
    a p:first-child {
      font-family: var(--font-family-sans-serif);
      font-size: 1.1rem;
      color: var(--accent-color-primary);
      line-height: var(--font-lhr);
      border-bottom: 1px solid var(--accent-color-primary);
      display: inline;
      font-weight: 600;
      letter-spacing: 0.02rem;
    }
    a:hover p:first-child {
      color: var(--accent-color-secondary);
      line-height: var(--font-lhr);
      border-bottom: 1px solid var(--accent-color-secondary);
      display: inline;
    }
  }

  .pullHook {
    font-size: calc(var(--font-h1) / 1.5);
    margin: calc(var(--space-cs) * 3);
    font-weight: 100;
    text-align: center;
  }

  .twoColBox,
  .threeColBox,
  .fourColBox {
    max-width: 100vw;
  }

  .explore {
    padding: 0 calc(var(--space-cs) * var(--blog-page-spacer-x));
    max-width: 100vw;
  }

  .twoColBox,
  .threeColBox,
  .fourColBox,
  .card {
    display: grid;
    padding: initial;
  }

  .twoColBox {
    grid-template-columns: repeat(2, minmax(275px, 1fr));
    grid-gap: calc(var(--space-cs) * 2);
  }

  .threeColBox {
    grid-template-columns: repeat(3, minmax(275px, 1fr));
    grid-gap: 10px;
  }

  .fourColBox {
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  }

  .fourColBox a,
  .card {
    border-bottom: none;
    color: inherit;
    height: auto;
  }

  .fourColBox a:hover,
  .card:hover {
    outline-offset: var(--outline-thickness);
    outline: var(--outline);
    transition: outline-offset var(--motion-duration) var(--motion-type);
  }

  .fourColBox a {
    display: block;
  }

  .fourColBox h3,
  .card h3 {
    font-size: 1.5rem;
    font-weight: 100;
  }

  .fourColBox h4,
  .card h4 {
    font-weight: 100;
    font-family: var(--font-family-sans-serif);
  }

  .fourColBox a {
    padding: calc(var(--space-cs) * 2);
  }

  .card {
    grid-template-columns: 1fr 2fr;
    grid-gap: calc(var(--space-cs) * 2);
    margin-bottom: calc(var(--space-cs) * 4);
  }

  .card img {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: var(--space-cs);
  }

  .threeColBox .card img {
    aspect-ratio: unset;
  }

  .popSegment {
    padding: calc(var(--space-cs) * 4);
    border-radius: calc(var(--space-cs) * 2);
    margin: calc(var(--space-cs) * 2) 0;
  }

  .lavenderblush {
    background-image:
      radial-gradient(rgb(248, 198, 234) 2px, transparent 2px),
      radial-gradient(rgb(255, 255, 255) 2px, transparent 2px);
    background-size: 32px 32px;
    background-position:
      0 0,
      16px 16px;
    background-color: var(--pop-color-lb);
  }

  .greenfield {
    background-image: repeating-linear-gradient(
      45deg,
      #d1eec7 0,
      #d1eec7 2px,
      transparent 0,
      transparent 50%
    );
    background-size: 32px 32px;
    background-color: var(--pop-color-gn);
  }

  svg {
    width: 20px;
    vertical-align: text-bottom;
  }

  /* pssft never the real one */
  #fakeSig {
    width: 35%;
    rotate: -10deg;
    display: block;
    margin: auto;
    padding: var(--base-unit);

    & > path {
      stroke: var(--primary-text-color);
      fill: var(--primary-text-color);
    }
  }

  #pictureTimeline {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: var(--base-unit);
    grid-row-gap: var(--base-unit);

    figure {
      margin: 0;
      transition: background 0.3s;
      position: relative;
    }

    img {
      position: initial;
      margin-left: initial;
      margin-right: initial;
      max-width: 100%;
      border-radius: var(--space-cs);
    }

    figcaption {
      font-size: initial;
      text-align: initial;
    }

    .author {
      opacity: 0;
    }
  }

  #posts {
    display: grid;
    justify-content: center;
    grid-gap: var(--space-cs);

    & > a {
      display: block;
      padding: var(--space-cs);
      border-bottom: none;
      border-radius: var(--space-cs);
      transition-duration: var(--motion-duration);
      will-change: background-color;
    }

    & > a h3 {
      color: var(--accent-color-primary);
      font-weight: 400;
      font-family: var(--font-family-serif);
      font-size: calc(var(--base-unit) * 1.5);
      display: inline;
      border-bottom: var(--border-thickness) solid var(--accent-color-primary);
    }

    & > a h4 {
      color: var(--primary-text-color);
      font-weight: 400;
      font-family: var(--font-family-sans-serif);
      font-size: var(--base-unit);
      margin: 0.5rem 0;
    }

    & > a p {
      text-transform: uppercase;
      font-size: calc(var(--base-unit) * 0.85);
      margin-bottom: 0;
      font-family: var(--font-family-sans-serif);
      color: var(--accent-color-secondary);
    }

    & > a:hover {
      text-decoration: none;
      background-color: var(--pop-color-hp);
    }

    & > a:hover p,
    & > a:hover h3,
    & > a:hover h4 {
      color: var(--pop-color-wh);
    }

    & > a:hover h3 {
      border-bottom: var(--border-thickness) solid var(--pop-color-wh);
    }
  }

  @media (max-width: 460px) {
    .timeline,
    .card,
    .twoColBox,
    #pictureTimeline {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @media (prefers-reduced-data: reduce) {
    img,
    video,
    lite-youtube,
    stl-part-viewer {
      display: none;
    }
  }
}
