:root {
  --bg: #fffcf9;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color-primary: #0049a3;
  --accent-color-secondary: #943d0a;
  --section-color: #f6f4ef;
  --structs-bg: #f6f4ef;
  --structs-border: #cccccc;
  --notice-color-bg: #333333;
  --notice-color-text: #ffffff;
  --notice-color-link: #f1f900;

  --pop-color-lb: lavenderblush;
  --pop-color-hp: hotpink;
  --pop-color-gn: #c1e7b1;
  --pop-color-wh: #fff;

  --code-background: #faf8f5;
  --code-color: #dd4a68;
  --code-block-bg: #f5f2f0;
  --code-block-text: #222;
  --diff-del-color: #fbcdd4;
  --diff-ins-color: #d2fbcd;

  --base-unit: 1rem;

  --form-input-fs: var(--base-unit);
  --form-button-color: #f5ee00;

  --space-cs: calc(var(--base-unit) / 2);
  --space-nav: calc(var(--space-cs) / 2);

  --page-last: 1000px;
  --header-height: 100px;
  --header-font-offset: -10px;
  --header-font-offset-left: -1.75px;
  --header-letter-spacing: -0.02rem;
  --header-font-size: 32px;
  --header-image: 75px;
  --footer-grid-min: 275px;
  --footer-grid-max: 400px;
  --page-nav-text: 100%;

  --border-thickness: 1px;
  --border: var(--border-thickness) solid var(--structs-border);
  --border-radius: 5px;
  --outline: 3px solid var(--primary-text-color);
  --outline-thickness: 5px;

  --font-family-serif:
    Cambria, 'Hoefler Text', Utopia, 'Liberation Serif',
    'Nimbus Roman No9 L Regular', Times, 'Times New Roman', serif;
  --font-family-sans-serif:
    'Libre Franklin', Frutiger, 'Frutiger Linotype', Univers, Calibri,
    'Gill Sans', 'Gill Sans MT', 'Myriad Pro', Myriad, 'DejaVu Sans Condensed',
    'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, 'Helvetica Neue',
    Helvetica, Arial, sans-serif;
  --font-family-headers: 'Literata', var(--font-family-serif);

  --font-lhr: 1.418;
  --font-h1: calc(var(--base-unit) * 2.5);
  --font-base: calc(var(--base-unit) * 1.333);
  --figcaption: calc(var(--font-base) * 0.7);
  --figcaption-author: calc(var(--font-base) * 0.65);

  --figure-button-margin: calc(var(--base-unit) * 3);

  --motion-duration: 0;
  --motion-type: none;

  --blog-page-spacer-x: 3;
}

@media (min-width: 769px) {
  :root {
    --blog-page-spacer-x: 7;
  }
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    --motion-duration: 0.3s;
    --motion-type: ease;
  }
  a:focus {
    transition: outline-offset var(--motion-duration) var(--motion-type);
  }
}

@media (max-width: 767px) {
  :root {
    --header-height: 85px;
    --header-font-size: 30px;
    --header-image: 55px;
    --header-font-offset: -5px;
    --page-last: 88vw;

    --font-h1: 1.75rem;
    --font-base: 1.125rem;
  }
}
