{{- $totalPosts := .Site.RegularPages.Len }}
{{- $totalWords := 0 }}
{{- $totalReadTime := 0 }}
{{- range .Site.RegularPages.ByPublishDate }}
{{- $totalWords = (add $totalWords .WordCount) }}
{{- $totalReadTime = (add $totalReadTime .ReadingTime) }}
{{- end }}

<p>Since 2002, I've weaved {{ $totalWords | lang.FormatNumber 0 }} words into the an often coherent, sometimes amusing set of {{ $totalPosts }} articles, requiring {{ math.Floor (math.Div $totalReadTime 60) }} hours and {{ math.Mod $totalReadTime 60 }} minutes of reading time. I write on a wide range of topics I find of interest, personally and professionally.</p>

<blockquote>It pains me to have to add this disclaimer, but here we are: no AI or associated Large Language Models (LLM) are used to produce words, sentences, or literally anything in my writing. I make my own stuff.</blockquote>