<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }} - Justin Ribeiro</title>
  <meta name="description" content="{{ description }}" />
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=no">
  <meta itemprop="name" content="{{ title }} - Justin Ribeiro">
  <meta itemprop="headline" content="{{ title }} - Justin Ribeiro" />
  <meta itemprop="description" content="{{ description }}">
  {% if imagegplus %}
  <meta itemprop="image" content="{{ imagegplus }}">
  {% endif %}

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@justinribeiro">
  <meta name="twitter:title" content="{{ title }} - Justin Ribeiro">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:creator" content="@justinribeiro">
  {% if imagetwitter %}
  <meta name="twitter:image:src" content="{{ imagetwitter }}">
  {% endif %}

  <meta property="og:type" content="article" />
  <meta itemprop="og:headline" content="{{ title }}" />
  <meta property="og:title" content="{{ title }} - Justin Ribeiro" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:site_name" content="Justin Ribeiro" />
  <meta property="og:url" content="{{ permalink }}" />
  <meta property="article:published_time" content="{{ datePublished }}" />
  <meta property="article:modified_time" content="{{ dateModified }}" />
  {% if imagefb %}
  <meta property="og:image" content="{{ imagefb }}" />
  {% endif %}

</head>
<body>
  <!-- 
    Why is this empty? Turns out, link bots don't care much about
    the body of a document, just <head> metadata.
  -->  
</body>
</html>