{{ $content_to_string := printf "%s" .Content }}
{{ $content := replace $content_to_string "\n" "\\n" }}
{
  "title": "{{ .Title }}",
  "description": "{{ .Description }}",
  "article": "{{ $content }}",
  "date": "{{ .Date.Format "Mon Jan 2, 2006" }}",
  "datePublished": "{{ .Date.Format $.Site.Params.ISO8601 }}",
  "dateModified" : "{{ .Date.Format $.Site.Params.ISO8601 }}",
  "pagetype": "page",
  "words": "{{ .FuzzyWordCount }}",
  "readingtime": "{{ .ReadingTime }}",
  "permalink": "{{ .Permalink }}",
  "socialimage": "{{ $.Params.socialimage }}",
  "posts": [ {{ range $i, $e := .Data.Pages}}
  {{if $i}}, {{end}}{{ .Render "li"}}
{{end}}
]
}
