{{ $content_to_string := printf "%s" .Content }}
{{ $content := replace $content_to_string "\n" "\\n" }}
{
  "title": "{{ .Title }}",
  "description": "{{ .Description }}",
  {{ if $content }}
  "article": "{{ $content }}",
  {{ else }}
  "article": "&lt;h1&gt;📰 Tag: {{ .Title }} &lt;/h1&gt;",
  {{ end }}
  "date": "{{ .Date.Format "Mon Jan 2, 2006" }}",
  "datePublished": "{{ .Date.Format $.Site.Params.ISO8601 }}",
  "dateModified" : "{{ .Date.Format $.Site.Params.ISO8601 }}",
  "pagetype": "page",
  "words": "{{ .FuzzyWordCount }}",
  "readingtime": "{{ .ReadingTime }}",
  "permalink": "{{ .Permalink }}",
  "socialimage": "{{ $.Params.socialimage }}",
  "posts": [
    {{ $count := 0 }}
    {{ range $index, $element := .Data.Pages }}
      {{ if and (ne $element.Params.pagetype "page") (ne $element.Params.pagetype "explore") }}
        {{ if gt $count 0 }},{{ end }}
        {{ .Render "li" }}
        {{ $count = add $count 1 }}
      {{ end }}
    {{ end }}
  ]
}
